* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: monospace;
	min-height: 100vh;
}

form {
	max-width: 300px;
	display: flex;
	flex-direction: column;
	gap: 1rem;

	input {
		padding: 6px 12px;
		font-size: 1rem;
	}
}
